sudo: required
language: python
python:
- '2.7'
services:
  - docker
addons:
  apt:
    packages:
    - oracle-java8-set-default
before_install:
- curl -O https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/deb/elasticsearch/2.4.1/elasticsearch-2.4.1.deb
- sudo dpkg -i --force-confnew elasticsearch-2.4.1.deb
- sudo service elasticsearch start
install: pip install -r requirements.txt
before_script:
- sleep 10
- curl -v http://localhost:9200/
script: python -m unittest discover
notifications:
  slack:
    secure: aHNsTacns/t+SVGrX9PeMup4L20Zs/xfHvbQXAt25vNvEv411bH5oydEOTMCoJxQqFENdh2ttrUPbhmcvn4VTvw3EVCb7QXHn2j1RWAWtF000QmdISYiRfd++m1RVhXkI+KqVn5+/xp3O9uKi9jfApXjg8uyewPNnHK1L21XuWi0/ZthoRD7YxX2y/PBD9GmoWNbbtEzIipZt41bcRS+QtynRP8Az9UtbccTU1jCEPHwaM5+3POrhfLuZM1K/0lyYqx4JUmb8MZI4RRgTXtGon49zPjNnnIG1ShgmfmYBBzWaD40VPfq6SVbBpzVcAnEaeQXtwI4E9utuSxkNm3axQ8kXtLwaH1360+RUUmthL4mLVzPSRu22FL7sl4YmpgvuNfzY9VRaHNoBfAZ596y7YVVPTUMCH41vzzeFEqR0O90lCeVjWKHCX3VeXacNtydEwYoxKVbEJBeUjuBjzn/N3iwPJ4BkjxdO4LgAovrDnTb32gc7hUP9cR1P6HlUwd61NRYSnnv5qpvlmIZTh+cUGPX55DjJZVor9Em5kaOlwO3qweIFm7WEYhzD4ncPaY6hENbgSM3p0XBx8B6IKndqczphc3NhLHjvObYya6SMZw2lZelvi3kc6mlxjiLatj2YXPRUGDqg9hjPaBdbMFI7dE6WNJivmnIvJiaCCBvgX0=
env:
  global:
  - secure: "e2/QTH6PP5i3gtBIlKk07aToPCNabzc6L1LvMqzZfB6umP5vtUudpIiGcdJfQSP1cAr2uerFJMq1vHCYSyc8Ao1lHYZTD+iO4p1iWUK4vIlEBuo94esvlf9ZO56y1jefVb7NOBUeCbgcY1RAs8wz9t7DrPf90KQW5G+Mz6e1vpUCDdLwRnl8uOZJdIqMBd+dHGfIIBn8V/onFukD11sTSRS6WDP6EaVRQ7GmHvnCJ69eo3nytY+uwJl8gsDZHpZZJdtdEyymvfFsNR9FuxGYBATuu56RNbOywxGAYPGzzsMVLFpXpLlPmoJBpGgciZsPFuF/7oJLruMpb7F2FIHMtlf/OaZJgWwPL0HyCAA2iq6fXI49Y2wA+jRywiMNivWSu/dD81JIfxDAv2UoddlAre9ujNpwmNJIPQr7F1VSDbyqB+EzeFFwgA0SI7GT4FpHOEXO72aGQA66ZA1KRrGPWGbyCUgCTKNTrCoDvP24UU1BT5y1QjG9a2jpetHOS0fpDUroJQ7fLV8Nn8v2RH7bGf2NPcWIygrc3AymRZY3FMHCpcUddXCP+Foh/UVwQiwu8EPUmQ7EbYxr553v/dq+IVVM11VEBVKFrndxQpsS39P7w6V7XoQ+8d0EJMyqJfsVLp1lDNs0MP8VNOxl+yHpnNVlGShE7+846H+k5QHUC4U="
  - secure: "AVjucHyTjv7uQzKhjHjzf9l798Tn8vZqKxRE9P/J3+up4HBRG46w7XTOZ0B70yrkJPXMbdNpv7tGNSity3f4+HIlzhIHDEuXCqEVmY0oqYIxJAX2KrsA59Q23ZDQ1jqlbced5qb1bJtN/2rqtxCP9VVcP5VjKbOzFbd+AnG0KpX5iyuoXqndn6NH0i6NL048fjvmCMw8X8lVg+KnXnvSO1wv9NLFLR8JIaEzz1OMyV8IbKJUtV+pw/Ge6aVMCtco7gy99VyhdJVD6gm4mQ43XxWcF/PURlBEDmPUh2PTP1X9vwyIdOU1JBBL10UFUhWuE/YO3gpB4oZth+/Yhso5enxXIroMqR0atKiX4k7wvedZgU8rKivhWTBjOqwDn/E0iYOU+OkbFYFAeH9QZrM1q0EVqe3hk/U6VSA+NzU7cHRMeRbd3gwvGEdNoxPaRK3iRDzS4Fpfcr0u+FzJe/NnjbpPZ3HBRbianMLhVWa+MQ84tcr3yVM+w2kQGMbsYnmaWOulm4VTAa6WOmfzb2GL1Dd4vkpIT2LXqb6UQBGQx09KeGcg+37A5HTOhxtV7n/s+N/O8ciZK6r7B14vrXEBRvW/AOw9Q8bjhk1O1PaxPVmA2MWr8eYclFSpkcPOUK2291ln2O8bkXCyxKuCGDKJvNZ/g2bPNJEI5pasypNS4Zw="
  - secure: "W/ALOmnZnKppmt+UaP9I1PvPuSYJGDdoaMgJ/NFBA3fd6ZILRwrR5MSf+2Zax/g+8m3sFBkELemdOR62N/1mLdxPUwJ/d/Hhr6NZZXSockSVw4jrw8FKDky+GXQ4cySVlz+zMft5YN8t1KhzbFRKTIZdVxz3ALmaoAXe85XvzkA6V8PueQBFWey8fQCba/mnGwEuKQ8kLCaVBJOh/eib67G6ivqXfvtLvF+nUcnqMLKX8lF5104MnVn5Tps51sT5mjuea+ue6+8hYieOQSdBqimmo2HUDdahFISo+ZmZNWjkaHWugvDeLllAKaF1ow5mQJx9C3UTfdx076CSo2pLWILLbKTebRnGbU78+XAq5b3Rk/GDoFOGxAHnh21daLFRFRnNxc4nziK9TJz1d3TEeJrTfc5EcVhA/Dxf5cs0Eu8Ene7UeCR4Qj2bXZ+j4oI8Gw0J+iXFUU1mu5gGjgFWXlifhYDMNEa+4gWWbYExq4E5ZYpz1CgVBcdSy9xwjbnjq6Q/aJotr1RnAs1PwNn2NxQAuCMVzNZtZEWw1s4RLbXZPSLkPRS/85RJuPTwxLD8pGWjdkPemo9SX09dazVcoUnybn/l9dgzZNK4B1pDlLC3r5YLgYbaCDhNjcQsGX2Tv2XUBlM6s/iK4bLZ75M7a8ifZ5jdtzeT4TV3f2lWfmM="
deploy:
- provider: pypi
  user: digsandpaper
  server: https://upload.pypi.org/legacy/
  distributions: sdist
  password:
    secure: "HeqXMGPzfgD4UyRIwT3VuU8uQQ01bjGepdaK5DNTUToLwFc8eAMz32SmO7G0DLl+yQYvlHeTK3bup/bOyPTbK6UOqscXI9LPLv22NqhJB/p19hHTG6B3VO3mBxFsFliKez3E4hgXtY3D/gc2CJuu+vjdZhjQ4pqlvWMY+P4y1hq5hJdx1Ad2qxufDxVVpTadfUXFn5igHVY5tqNCM8o7XqeM2Vm5E8l8bPdbneOn85vlKC+Mb0WlG+5YyBqk8i5Y8kiURlYtX+/XsGx0YRxnXgt6jH8oA921Sv3FThl7VjDhM/OnRfUxOKOoUJQBLvmxcsK6NF+TgBBaVT35DVaNciybf2aW5tkR0C4fjZGNREmfifvGEMsM/GTTItic4KtC9uat2qz1qmOK0qEUlNnf2bRnBvqaJJdPc2Ah4VkhiLkmf+1ZkHZcEUyoB134jfKMD2GQHEECt4B8y/tdwyYX8o7RO05WKFzn6mNZOlkrneiZgJ3/ebObQNydtP6+nN+KqjVaZFKmxK3BD93jb3FODxQEozk7lM6EFomhR8gknaFLbKghb/c1Wd1Fz+jnUIc+3ZHU3mibPxyztoNfYZOIGTjZ6grx75yyUgL4xmrgAyorF9T2Vc9PoEaPohZheRy/J+Rcdf/QkO2iWhAr3DJoyUpykAIVszzfrQgco+YBBug="
  on:
    tags: true
    all_branches: true
- provider: script
  script: ./docker_deploy.sh
  on:
    tags: true
    all_branches: true
- provider: script
  script: ./docker_deploy.sh
  on:
    branch: master